*{padding:0;margin:0;}
body{font-size: 1.2rem;font-family: "微软雅黑";line-height: 2rem;}
a{text-decoration: none;}
ul li,ol li{list-style-type: none;}
.clear{clear:both;}
                                                                                        /*媒体查询*/
@media screen and(max-width:980px){
    #pagewrap{
        width:95%;
    }
}
@media screen and(max-width:650px){
    #pagewrap{
        width:100%;
    }
}
@media screen and(max-width:480px){
    #pagewrap{
        width:auto;
    }
}
                                                                                  /*顶部*/
header{width:100%;height:15rem;}
header>a img{position: absolute;top:3rem;left:2rem;}
header .nav{display: inline-block;margin:5rem 0 0 44rem;font-size: 1.6rem;}
header .nav li{margin-right: 2rem;}
header .nav li a:hover{background-color: #fff;}
header .nav>li:nth-of-type(3)>a{color:#e58309;}
header .nav>li a:hover{color:#e58309;}
header .nav li span{color:#8e8e8d;position:absolute;top:0;width:20rem;}
header .nav ul{position:absolute;top:3.5rem;line-height: 3rem;display:none;}
.one{right:-9.2rem;}
.second{left:1.5rem;}
.third{right:-15rem;}
.forth{right:-13.5rem;}
.fifth{right:-8.5rem;}
header .nav>li:hover ul{display:block;}
header .nav ul a{color:#8e8e8d;text-decoration: none;}
header .nav ul a:hover{color:#e58309;text-decoration: none;}
header>span{margin-left:20rem;position: absolute;top:6rem;right:10rem;font-size:1.7rem;}
header>span>a:hover{color:#e58309;text-decoration: none;}
header>span:hover .language{display: block;}
header .first{color:#e58309;}
.language{width:14rem;height:27.5rem;background-color: #e8e8e8;padding-top: 1.5rem;margin-top:2rem;
    display: none;position: absolute;right:-5rem;top:0.3rem;}
.language ul{line-height: 3rem;}
.language ul li{padding-left:1.5rem;}
.language ul li a:hover{color:#e58309;text-decoration: none;}
.language a{color:#8e8e8d;}
.ben{color:#e58309 !important;text-decoration: none !important;}
                                                                                    /*主体*/
section>h1{text-align: center;font-size:5rem;color:#000;margin: 11rem 0 4rem;}
.text{width:100%;margin-bottom: 7rem;}
.text-1{width:81%;height:100%;margin:0 auto;padding-top: 3rem;text-align: center;}
.text-1 p{font-size: 1.7rem;color:#000;line-height: 2.8rem;}
.option{width:48%;height:10rem;margin:0 auto;}
.option-1{width:46%;height:100%;display:inline-block;}
.option-1:nth-of-type(2){float:right;}
.option-1 p{color:#666;font-size: 1.3rem;}
.layout button{width:100%;height:6rem;border:none;font-size:1.6rem;color:#000;
    background-color: #e8e8e8;}
.layout button:hover{cursor:default;}
.caret{float:right;margin-top: 1rem;}
.dropdown-menu{background-color: #e8e8e8;border:0.1rem solid #1e90ff;width:100%;}
.dropdown-menu li:hover a{cursor:default;}
.option-1:first-child .dropdown-menu li:nth-of-type(1){background-color: #1e90ff;}
.option-1:first-child .dropdown-menu li:nth-of-type(1) a{color:#fff;}
.dropdown-menu li a{color: #000;font-size:1.6rem;}
.option-1 input{width:100%;height:6rem;background-color: #e8e8e8;border:none;color:#666;
    font-size:1.6rem;}
section>button{height:5rem;border-radius:3rem;margin:2rem 0 0 91rem;
    border:none;font-size:1.8rem;width:10rem;color:#fff;background-color: #e58309;}
section>button:hover{background-color: #e78f21;}
                                                                                    /*底部*/
footer{width:40%;margin:10rem auto 5rem;padding-bottom: 1rem;}
footer ul li{float:left;margin-right: 5rem;}
footer ul li a{color:#8e8e8d;font-size: 1.7rem;}
footer ul li a:hover{color:#e58309;text-decoration: none;}


